/* p {
    display: none;
}

button:hover ~ p {
    display: block;
} */
/* table{
    border: 2px solid #ccc;
}
tr:nth-child(odd){
    background-color: blueviolet;
} */
/* p {
    background-color: blueviolet;
    padding: 10px;
}

p::before {
    content: "Tanu ";
} */

ul li::marker {
    color: red;
}

ol li::marker {
    color: blue;
}
p::selection{
    background-color:red;
}