/* body {
    background-image: url('image_2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} */
/* 
h1,h2 {
    color: aliceblue;
} */

img {
    /* border: 10px solid red; */
    border-width: 20px;
    border-style: solid;
    border-color: red blue green yellow;
    /* opacity: .1; */
    border-radius: 50px 5px 80px 5px;

    margin: 50px 300px 500px 100px;
   
    /* margin-top: 50px;
    margin-left: 100px;
    margin-right: 300px;
    margin-bottom: 500px; */
    /* width: 300px;
    margin:auto;
    display: block; */
    padding: 100px;
    
    height: 500px;

}

div{
    height: 300px;
    width: 300px;
    border: 3px solid black;
    background-color: green;
    margin: 50px;
    padding: 50px;
}