body {
    background-color: rgb(4, 77, 77);
    /* font-family: "Dancing Script", cursive; */
}

.text-border {
    border: 15px solid rgb(209, 1, 91);
    padding: 15px;
    margin: 20px;
    background-color: rgb(224, 220, 220);
}

p {
    color: purple;
    text-align: justify;
    text-indent: 50px;
    /* letter-spacing: 15px; */
    line-height: 1;
    word-spacing: 5px;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;

}

.project_title,
.tester {
    text-align: center;
    font-size: 70px;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 5px rgb(244, 51, 51);

}

.project_title {
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
}

h2 {
    /* font-variant: small-caps; */

    text-align: right;
}

.custom_design {
    font-size: 60px;
    color: blue;
}


.table-section {
    /* height: 100px; */
    overflow: scroll;
}

table {
    width: 100%;
    /* overflow-x: auto; */
    border: 1px solid black;
}


table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
}

th,
td {
    /* text-align: center; */
    /* vertical-align: center; */

    /* height: 50px; */
    padding: 5px;
    /* border-bottom: 1px solid #c60f0f; */
}

tr:hover {
    background-color: lime;
}






h1 {
    background-color: red;
    padding: 10px;
    display: inline;
}

span {
    font-size: 30px;
    background-color: blue;
    padding: 10px;

}

img {
    /* display: none; */
    margin-top: 20px;
    /* visibility: hidden; */
}


.header {
    padding: 10px;
    background-color: rgb(243, 153, 153);
    /* max-width: 600px; */
    position: sticky;
    top: 0;
}
ul{
    list-style: none;
}
ul li{
    display: inline;
    padding:0 15px;
}
ul li a{
    text-decoration: none;
}

ul li:hover{
    background-color: antiquewhite;
    padding: 10px 15px;
}

.tbl_desing{
    margin-top: 20px;
}
.position_learning{
    height: 200px;
    background-color: blueviolet;
    width: 40%;
/* position: fixed; */
    /* position: relative; 
    left: -50px;
    top: 5px; */
    /* opacity: .5;
    margin: 0 auto;
     */


}
/* .child_position{
    height: 200px;
    background-color: rgb(191, 182, 19);
    width: 40%;

    position: absolute; 
    left: -50px;
    top: 5px;

} */


.common{
    height: 200px;
    width: 30%;
    float: left;     
    margin-right: 20px;
}
.div1{    
    background-color: rgb(191, 182, 19);   
}

.div2{
    background-color: rgb(111, 12, 210);
}
.div3{
    background-color: rgb(2, 255, 209);
}


.footer {
    padding: 20px;
    background-color: rgb(141, 138, 138);

    margin-top: 700px;
    text-align: center;
    /* max-width: 600px; */

}